<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo documento:</strong>
  <%= @tipodoc.tipo_documento %>
</p>

<%= link_to 'Edit', edit_tipodoc_path(@tipodoc) %> |
<%= link_to 'Back', tipodocs_path %>
